@page "/" 
@inject ServerState.ServerStateClient ServerStateClient 

<h1>Weather forecast</h1>
<p>This component demonstrates fetching data from the server.</p>

@if (message == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <p>@message</p>
}

@code
{
    private string? message;

    protected override async Task OnInitializedAsync()
    {
        message = (await ServerStateClient.GetStateAsync(new ServerStateRequest()
        {
            ClientName = "Blazor App"
        })).Message;
    }
}